# edit and save as .env

DOMAINNAME=docker.localhost
VOLUMES_DIR=./docker/volumes

MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root

LDAP_BIND_PASSWORD=admin

SMTP_HOST=
# SMTP_SECURE: "" (keine), "ssl", "tls"
SMTP_SECURE=tls
# SMTP_AUTH_TYPE:  "LOGIN", "PLAIN", "NTLM", "CRAM-MD5"
SMTP_AUTH_TYPE=LOGIN
SMTP_USER=
SMTP_PASSWORD=

IMAP_HOST=
# IMAP_SSL:  "" (aus), "ssl", "sslv2", "sslv3", "tls", "tlsv1"
IMAP_SSL=tls
IMAP_USER=
IMAP_PASSWORD=
